<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net48" />
  <package id="DynamicData" version="8.4.1" targetFramework="net48" />
  <package id="linq2db" version="5.4.1" targetFramework="net48" />
  <package id="linq2db.PostgreSQL" version="5.4.1" targetFramework="net48" />
  <package id="linq2db.t4models" version="5.4.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Npgsql" version="8.0.3" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Unity" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="ReactiveUI" version="20.1.1" targetFramework="net48" />
  <package id="ReactiveUI.WPF" version="20.1.1" targetFramework="net48" />
  <package id="Splat" version="15.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Unity" version="5.11.10" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net48" />
</packages>